@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    font-family: Itim;
}

.App {
    display: flex;
    justify-content: center;

    min-height: 100vh;
    background-color: #D0E8C5;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}